# Node modules
node_modules/

# 로그 파일
logs
*.log
npm-debug.log*

# 환경 변수 파일
.env

# 빌드 파일
dist/
build/

# IDE 관련 파일
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS 관련 파일
.DS_Store
Thumbs.db

# 테스트 관련
coverage/
