* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

header {
  margin-top: 60px;
  text-align: center;
}

header img {
  width: 396px;
  height: 132px;
  top: 60px;
  left: 762px;
}

main {
  text-align: center;
}

.main-logo {
  height: 80px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-family: 'Pretendard', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  margin-bottom: 10px;
  color: #1F2937;
}

.form-group input {
  font-family: 'Pretendard', sans-serif;
  width: 640px;
  min-height: 56px;
  padding-left: 16px;
  margin-bottom: 10px;
  border: 1px solid #F3F4F6;
  border-radius: 12px;
  background-color: #F3F4F6;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #9CA3AF;
}

.form-group input:focus {
  border-color: #3692FF;
  outline: none;
}

.password-container {
  position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 40px;
  align-items: center;
}

.password-container .toggle-visibility {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.login-btn {
  width: 640px;
  min-height: 56px;
  border-radius: 40px;
  padding: 16px, 124px, 16px, 124px;
  gap: 10px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center ;
  display: block;
  color: #FFFFFF;
  background-color: #9CA3AF;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}

.social-login {
  width: 640px;
  height: 74px;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E6F2FF;
  padding: 0 20px;
}

.social-login span {
  left: 23px;
  font-family: 'Pretendard', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1F2937;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-login img {
  width: 42px;
  height: 42px;
  border: 1px;
  margin-right: 3px;
}

.signup-link {
  font-family: 'Pretendard', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 17.9px;
  margin-top: 30px;
  color: #1F2937;
}

.signup-link a {
  font-family: 'Pretendard', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 17.9px;
  color: #3182F6;
}

.signup-link a:hover {
  text-decoration: underline;
}

.password-group {
  position: relative;
}

.toggle-visibility {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
}
