@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@500;700&display=swap');

body {
    margin: 0;
    font-family: 'Pretendard', Arial, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 180px;
    background-color: #ffffff;
    font-family: 'Pretendard', Arial, sans-serif;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

.logo .board, .logo .market {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #4B5563;
    text-align: center;
    text-decoration: none;
}

.logo .board {
    margin-left: 40px;
}

.logo .market {
    margin-left: 30px;
}

.nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #000;
}

.nav .login-button {
    display: inline-block;
    width: 88px;
    height: 42px;
    padding: 12px 23px;
    gap: 10px;
    background-color: #3692FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.09px;
    text-align: center;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.banner {
    width: 100%;
    height: 540px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    background-color: #cfe5ff;
}

.banner-text {
    margin-top: 60px;
    padding-left: 150px;
    align-self: center;
}

.banner-text1 {
    font-family: 'Pretendard', Arial, sans-serif;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 56px;
    color: #374151;
    text-align: left;
}

.banner-text2 {
    font-family: 'Pretendard', Arial, sans-serif;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 56px;
    color: #374151;
    margin-bottom: 20px;
    text-align: left;
}

#banner-button {
    width: 18.5vw;
    height: 56px;
    padding: 16px, 124px;
    gap: 10px;
    background-color: #007bff;
    color: #FFFFFF;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Pretendard', Arial, sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

.banner-image {
    background-image: url(./판다_배경사진.png);
    background-size: contain;
    background-position:  bottom;
    background-repeat: no-repeat;
    width: 996px;
    height: 447px;
    align-self: flex-end;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 1200px;
}

.section-left .content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1920px;
    height: 720px;
}

.section-right .content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 1920px;
    height: 720px;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
}

.image-box {
    width: 588px;
    height: 444px;
    overflow: hidden;
    margin: 20px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-box {
    max-width: 410px;
    margin: 20px;
    text-align: left;
}

.text-box h3 {
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    color: #3692FF;
    margin: 0 0 10px 0;
}

.text-box h2 {
    font-family: 'Pretendard', sans-serif;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 56px;
    color: #374151;
    margin: 0;
}

.text-box p {
    font-family: 'Pretendard', sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 28.8px;
    color: #374151;
    margin-top: 10px;
}

.footer {
    width: 100%;
    height: 540px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: #cfe5ff;
}

.footer-text {
    padding-top: 220px;
    padding-left: 150px;
    align-items: center;
}

.footer-text1 {
    font-family: 'Pretendard', Arial, sans-serif;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 56px;
    color: #374151;
    text-align: left;
}

.footer-text2 {
    font-family: 'Pretendard', Arial, sans-serif;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 20px;
    color: #374151;
    text-align: left;
}

.footer-image {
    background-image: url(./믿을수있는판다마켓.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 996px;
    height: 540px;
    align-self: flex-end;
}

.additional-section {
    display: flex;
    justify-content: center;
    background-color: #111827;
    color: #ffffff;
    width: 100%;
    height: 160px;
    box-sizing: border-box;
    padding-top: 32px;
}

.additional-tag {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    margin: 0 200px;
}

.additional-tag1 {
    font-family: 'Pretendard', Arial, sans-serif;
    color: #9CA3AF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
}

.additional-tag2 {
    display: flex;
}

.additional-tag2 a {
    font-family: 'Pretendard', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
    color: #E5E7EB;
    text-decoration: none;
    margin: 0 10px;
}

.additional-image {
    display: flex;
    gap: 10px;
    color: #FFFFFF;
}

.additional-image img {
    width: 24px;
    height: 24px;
}