@import "./reset.css";

* {
    box-sizing: border-box;
}



html {
    font-family: 'Pretendard', sans-serif !important;
    font-size: 16px;
    font-weight: 400;
}

label {
    color: #2c2c2c;
    display: block;
}

body {
    margin-top: 60px;
}

input {
    border: 1px solid #d1d1d1;
    color: #ababab;
    display: block;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 24px;
    border-radius: 12px;
    width: 100%;
}

.Container {
    display:flex;
    margin-top:60px;
}

.login_button {
    background-color: #9CA3AF;
    border: none;
    color: #ffffff;
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 16px;
    width: 100%;
    border-radius: 40px;
}

.email_box {
    font-weight: 700;
    font-size: 1.125rem;
}

section {
    display: flex;
    flex-direction: column;
}

#email {
    background-color: #F3F4F6;
    border: none;
}

#email:focus {
    outline-color: #3692FF;
}

#password {
    background-color: #F3F4F6;
    border: none;
}

#togglePassword{
    width:24px;
    position: absolute;
    right:25px;
    top: 16.5px;
}

.visible {
    display:block
}

.hidden {
    display:none;
}

#Password:focus {
    outline-color: #3692FF;
}

.password_box {
    font-weight: 700;
    font-size: 1.125rem;
}

.login_title {
    display: flex;
    align-self: center;
    margin-bottom: 40px;
}

.login_set {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.email_box_set {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.password_box_set {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    width: 640px;
    gap: 24px;
}

.simple_login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6F2FF;
    height: 70px;
    line-height: 24px;
    border-radius: 8px;
    width: 100%;
    height: 74px;
    border-radius: 8px;
}

.simple_login_text {
    font-size: 0.938rem;
    font-weight: 500;
    margin-left: 25px;
}

.simple_login_logos {
    display: flex;
    margin-right: 23px;
    position: relative;
    width: 100px;
    height: 42px;
    gap: 16px;
}

.reg_text {
    align-self: center;
    font-size: 0.938rem;
    font-weight: 500;
}

.modal_btn {
    display: block;
    margin: 40px auto;
    padding: 10px 20px;
    background-color: royalblue;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.modal_btn:hover {
    box-shadow: 3px 4px 11px 0px #00000040;
}

#modalMessage  {
    font-weight: 500; 
    font-size: 1rem;
    line-height: 19.09px;
    position: relative;
    font-family: 'Pretendard', sans-serif;
}

/*모달 팝업 영역 스타일링*/
.modal {
/*팝업 배경*/
	display: none;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
}

.modal_popup {
/*팝업*/
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width:540px;
    height:250px;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
}
.close_btn {
    position: absolute;
    display: block;
    padding: 10px 20px;
    background-color: var(--brand-blue);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
    font-weight: 600;
    bottom: 25px;
    right: 25px;
    font-family: 'Pretendard', sans-serif;
}


/* 타블렛 */

@media (max-width: 1199px) {

    html {
        display: flex;
        flex-direction: column;
    }

    section {
        align-self: center;
    }

    .Container {
        display:flex;
        margin-top:48px;
    }

    .login {
        gap: 24px;
        height: 38%;
    }

    .login_set {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .simple_login_logos {
        display: flex;
        position: relative;
        margin-right: 23px;
        width: 100px;
        height: 42px;
        gap: 16px;
    }


}

/* 모바일 */

@media (min-width: 375px) and (max-width: 767px) {

    .modal_popup {
        /*팝업*/
            position: absolute;
            display:flex;
            justify-content: center;
            align-items: center;
            top: 50%;
            left: 50%;
            width: 87.2%;
            height: 220px;
            transform: translate(-50%, -50%);
            padding: 20px;
            background: #ffffff;
            border-radius: 8px;
        }

    body {
        display: flex;
        justify-content: center;
    }

    .Container {
        display:flex;
        margin-top:24px;
    }

    .login_title {
        margin-bottom: 24px;
    }

    .login {
        width: 100%;
        gap: 24px;
    }

    .login_title {
        height: 66px;
    }

    .login_set {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .email_box_set,
    .password_box_set {
        gap: 8px;
    }

    section {
        width: 95%;
    }

}