* {
    box-sizing: border-box;
  }

::placeholder{
   color: #9CA3AF;
}

html {
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  label {
    color: #2c2c2c;
    display: block;
    margin: 16px 0 8px;
  }
  
body{
    margin-top: 60px;
}
input {
    border: 1px solid #d1d1d1;
    color: #ababab;
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin: 8px 0;
    padding: 16px 24px;
    width: 100%;
  }
  
  .login_button {
    background-color: #2c2c2c;
    border: none;
    color: #ffffff;
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin: 24px 0;
    padding: 16px;
    width: 100%;
    cursor: pointer;
  }
  
  .email_box{
    font-weight:700;
    font-size:1.125rem;
  }

  #email{
    background-color: #F3F4F6;
    border:none;
  }

  #email:focus{
    outline-color: #3692FF;
  }

  .password_box{
    display: flex;
    font-weight:700;
    font-size:1.125rem;
  }

  #password{
    background-color: #F3F4F6;
    border:none;
    background-image:url('TheEye.png');
    background-repeat:no-repeat;
    background-size: 24px 24px;
    background-position: right 16px bottom 16px;
  }

  #password:focus{
    outline-color: #3692FF;
  }

  .nickname_box{
    font-weight:700;
    font-size:1.125rem;
  }

  #nickname{
    background-color: #F3F4F6;
    border:none;
  }

  #nickname:focus{
    outline-color: #3692FF;
  }

  .pw_confirm_box{
    display: flex;
    font-weight:700;
    font-size:1.125rem;
  }

  #pw_confirm{
    background-color: #F3F4F6;
    border:none;
    background-image:url('TheEye.png');
    background-repeat:no-repeat;
    background-size: 24px 24px;
    background-position: right 16px bottom 16px;
  }

  #pw_confirm:focus{
    outline-color: #3692FF;
  }

  .login_title{
    align-self: center;
    margin-bottom: 40px;
  }

  .login_button{
    background-color: #9CA3AF;
    border-radius: 40px;
  }

  .login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto auto;
    width: 640px;
    justify-content: center;
  }
  
  .simple_login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6F2FF;
    line-height: 24px;
    border-radius: 8px;
    width: 640px;
    height: 74px;
    border-radius: 8px;
  }

  .simple_login_text{
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 25px;
  }

  .simple_login_logos{
    display: flex;
    margin-left: 517px;
    position: absolute;
    width: 100px;
    height: 42px;
    gap: 16px;
  }

  .reg_text{
    align-self: center;
    margin-top: 24px;
    font-size: 0.938rem;
    font-weight: 500;
  }

  /* 타블렛 */
  @media (max-width: 1199px) {
}

  /* 모바일 */
  @media (min-width: 375px) and (max-width: 767px) {
}