/* 상품 카드 스타일 */
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  max-width: 282px;
  height: 378px;
  margin: 0 auto;
}

/* 상품 이미지 */
.product-image {
  width: 100%;
  height: 282px;
  border-radius: 8px;
  object-fit: cover;
}

/* 상품 정보 */
.product-info {
  margin-top: 10px;
  text-align: left;
  width: 100%;
}

.product-info p {
  margin: 10px 0; 
}

.product-name {
  font-weight: 500;
  font-size: 14px;
  color: #1F2937;
}

.product-price {
  font-weight: 700;
  font-size: 16px;
  color: #1F2937;
}

.product-favorite {
  font-weight: 500;
  font-size: 12px;
  color: #4B5563;
}
